/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| Dashboard 
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

.dashboard-control-row {
	display: flex;
	flex-flow: row wrap;
	margin: -1rem;
}
.dashboard-control-col {
	flex: 1;
	min-width: 12rem;
	margin: 1rem;
	padding: 1rem;
	box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.15);
}