/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| STYLES 
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

@import "./styles/settings.css";
@import "./styles/body.css";
@import "./styles/type.css";
/* @import "./styles/buttons.css"; */
/* @import "./styles/forms.css"; */
@import "./styles/utility.css";
@import "./styles/layout.css";
/* @import "./styles/single-form.css"; */
@import "./styles/dashboard.css";
@import "./styles/signin.css";



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
